.cards-banner-one {
    width: 100%;
    height: 350px;
    background-image: url(imgs/tech-red.jpg);
    margin-bottom: 40px;
}

.cards-banner-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
}

.cards-banner-one p {
    margin: 10px 0;
}