.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-bottom: 50px;
}

.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
}

.news-cards a:hover {
    text-decoration: underline;
}

