hr {
    margin: 10px 0;
}

.showcase {
    width: 100%;
    height: 550px;
    background-image: url(imgs/showcase2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    border: 1px solid #fff;
    margin: 10px 0;
}

.btn:hover {
    opacity: .8;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
    letter-spacing: 1px;
}